#page-container {
    margin-left: 3%;
    margin-top: 1%;
    margin-right: 3%;
}

.quiz-page-split-column {
    border-top: 3px dashed aliceblue;
    border-bottom: 3px dashed aliceblue;
    padding-bottom: 0.75rem !important;
}

.quiz-creator-container {
    border-left: 3px dashed aliceblue;
    border-right: 3px dashed aliceblue;
}

.quiz-student-container {
    border-right: 3px dashed aliceblue;
}

.quiz-creator-question-input, .quiz-question-preview {
    height: 200px;
    overflow: scroll;
}

.quiz-question-preview {
    border: 2px dotted aqua; 
    padding: 5px;
}

.quiz-student-short-answer-input {
    margin-top: 15px !important;
    font-size: 1.3em !important;
}

.quiz-creator-input-heading, .quiz-creator-preview-heading, .problem-solving-top-header {
    text-align: center;
}

.quiz-creator-mcq-toggle-button {
    background-color: inherit !important;
    color: #121212 !important;
}

.quiz-creator-choice-input {
    height: 50px;
}

.quiz-creator-add-choice {
    margin-bottom: 15px;
}
.quiz-creator-remove-choice {
    font-size: 2em;
    cursor: pointer;
}


.quiz-result-feedback {
    margin-left: 10px;
    
}


.quiz-student-choice {
    font-size: 1.15em;
    cursor: pointer;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 6px;
}

.quiz-student-choice-selected {
    background-color: #C62828;
    color: white;
}

.quiz-student-choice-not-selected {
    background-color: #FBFBFB; /* You love Facebook, huh? */
}

.quiz-student-guess-ago {
    margin-left: 10px;
}

/* Problem solving page css 

Eventually, I'll make new css files for each component/page
#todo for entire CSS -> make it DRY, use SASS
*/ 

.problem-solving-question-and-solve-it-container {
     
}

#problem-solving-steps-list {
    font-size: 1.3em;
}

#problem-solving-guess-collection {
    overflow: scroll;
    height: 50%;
}

/*todo -> choose some material design color */ 
#problem-solving-guess-collection-heading {
    background-color: aqua;
}

.problem-solving-create-plan-btn {
    margin-top: 10px;
    background-color: inherit !important;
    color: #121212 !important;
}


.problem-solving-input-and-submit {
    margin-bottom: 20px;
}

.problem-solving-plan-heading {
    font-size: 1.5em;
    font-style: bolder; 
    margin-right: 20px;
}

.md-and-html-heading {
    text-align: center;
}

.md-and-html-input {
    height: 150px;
}

.problem-solving-plan-collection {
    margin-top: 25px;
}

.problem-solving-single-plan-container {
    margin-top: 20px;
}