@import "md";

.filter-and-select-item {
    cursor: pointer;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.filtered-item {
    background: rgba(177,220,251,0.22);
}
.list-edit-item {
    font-size: 0.8rem;
}

.md-and-html-heading {
    text-align: center;
}

.md-input-and-preview {
    padding: 1rem;
    min-height: 200px;
}

.md-and-html-input {
    @extend .md-input-and-preview;
    @extend .md;

    border-style: none; 
    border-color: Transparent; 
    outline: none;
    overflow: auto;
    background: #F0F8FF;
}

.md-preview-with-content {
    @extend .md-input-and-preview;

    overflow: auto;
}

.created-at {
    font-size: 0.75em;
    color: #337ab7;
}