$base-border-color: #F0F8FF;
$top-bar-height: 3.5rem;
$call-to-action-color: #2DAFE5;
$call-to-action-lite: rgba(45, 175, 229, 0.5);
$brand-color: #7C2C3B;
$brand-color-lite: rgba(124,44,59,0.8);
$brand-color-lite-hover: rgba(124, 44, 59, 0.7);
$page-background-color: #FFFFF0;