.filter-and-select-item {
    cursor: pointer;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.md-and-html-heading {
    text-align: center;
}

.md-and-html-input {
    height: 200px;
    background: white;
    overflow: scroll;
}

.md-preview-with-content {
    height: 208px;
    overflow-y: scroll;
    padding: 0 0.5em 0.5em 0.5em;
}

.created-at {
    font-size: 0.75em;
    color: #337ab7;
}