//Copied heading values from bootstrap
//Should we apply this globally? Maybe later. Don't want to break it until launch.

.md h1{
    font-size: 36px;
}

.md h2 {
    font-size: 30px;
}

.md h3 {
    font-size: 24px;
}

.md h4 {
    font-size: 18px;
}

.md h5 {
    font-size: 14px;
}

.md h6 {
    font-size: 12px;
}

