.radio-item {
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.radio-item:hover {
    color: #4A148C;
}

.radio-box {
    border-radius: 50%;
    border: 1px solid #9e9e9e;
    height: 100%;
}

.radio-box-selected {
    background: #9e9e9e;
    transition: background 0.4s ease-out;
}