.radio-item {
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.radio-box {
    border-radius: 50%;
    border: 1px solid #9e9e9e;
    height: 100%;
}



.radio-box-selected {
    background: #9e9e9e;
    transition: 0.28s ease;
    -webkit-transition: 0.28s ease;
    -moz-transition: 0.28s ease;
    -o-transition: 0.28s ease;
    -ms-transition: 0.28s ease;
}


