@import 'base/scss/base-variables';

#user-status {
    cursor: pointer;
}

.username-or-login-btn {
    text-align: center;
    line-height: $username-height;
}

@media(min-width: 992px) {
    .username-or-login-btn {
        font-size: 1.2rem;
    }
}

#google-signin-img {
    max-width: 80%;
}

#logout {
    position: absolute;
    top: $username-height;
    right: 0;
    width: 100%;
    background: rgb(3, 169, 244);
    color: white;
    height: $username-height;
    line-height: $username-height;
    font-size: 1rem;
    text-align: center;
    z-index: 4;
}


#logout-cancel {
    z-index: 3;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

//todo -> Change to login-overlay
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: block;
    z-index: 3;
    background-color: rgba(255,255,255,0.97);
}

.overlay:after {
    content: "X";
    position: fixed;
    right: 3rem;
    top: 1rem;
    cursor: pointer;
    z-index: 3;
    font-weight: bolder;
    font-size: 1.2rem;
}

#login-form {
    position: fixed;
    top: 10%;
    left: 0%;
    width: 100%;
    display: block;
    z-index: 4;
    text-align: center;
}

@media(min-width: 992px) {
    #login-form {
        left: 25%;
        width: 50%;
    }
}