@import 'base/scss/base-variables';

.radio-item {
    cursor: pointer;
    vertical-align: middle;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    background: #FAFAFA;
    color: black;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.radio-item:hover {
    color: white;
    background: $brand-color-lite;
}

.radio-item-selected {
    color: white;
    background: #9C27B0;
}

#course-intro {
    padding: 1.2rem;
    font-size: 1.1rem;
}

#course-start-pretest-btn {
    width: 100%;
}

#course-concepts-and-deps-heading {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#course-pretest-container {
    position: relative;

}

#course-pretest-next-concept-heading, #course-all-questions-answered {
    padding-left: 2rem;
    padding-top: 2rem;
}

#course-pretest-countdown {
    padding-top: 5rem;
    padding-left: 2rem;
    font-size: 5rem;
    text-align: center;
}

#course-start-learning-btn {
    margin-top: 2rem;
}

#course-start-learning-at-container, #course-all-questions-answered {
    min-height: 5rem;
    margin-left: 2rem;
    margin-top: 2rem;

}

.course-homepage-state-component {
    min-height: 200px;
    margin-top: 4rem;
    padding: 1.5rem;
}

#course-concept-up-next {
    color: $brand-color;
    padding-right: 1rem;
}

#course-student-dashboard {
    margin-top: 4rem;
}
