@import 'base/scss/base-variables';

#graph {
    margin: 2rem;
    position: relative;
}

#graph-svg-container {
    position: absolute;
    top: 0;
    left: 0;
}

.graph-node {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    z-index: 1;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.graph-node-active {
    color: white;
    background: $brand-color-lite !important; 
    transition: 0.5s ease;   
}

.graph-node-active span {
    color: white;
}

.graph-node-attempted-title {
    color: white;
    font-weight: bolder;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: rgba(255,165,0,0.7);
    border-radius: 10%;
}

.graph-node-done-span {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 2rem;
}

.graph-node-progress {
    background: linear-gradient(
        to bottom right,
        rgba(124,44,59,0.5) 25%, transparent 25%,
        transparent 50%, rgba(124,44,59,0.5) 50%,
        rgba(124,44,59,0.5) 75%, transparent 75%,
        transparent
    );
    background-size: 2pc 2pc;
    background-color: $call-to-action-color;
    color: #F7C240;
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    z-index: -1;
}

.gutter {
    position: absolute;
    visibility: invisible;
}

.graph-ball {
    height: 10px;
    width: 10px;
    background: blue;
    position: absolute;
    transition: transform 0.5s;
}
