.concept-creator-section {
    position: relative;
    margin-top: 2rem;
    padding: 1rem;
    padding-bottom: 2rem;
}

.concept-save-status {
    position: absolute;
    bottom: 0;
    left: 2rem;
    color: #337ab7;
    font-weight: bolder;
}

.concept-creator-add-section {
    margin-top: 2rem;
}

.concept-creator-add-section-row {
    margin-bottom: 1rem;
}

.concept-creator-add-section button {
    width: 100%;
}

#concept-creator-preview-section {
    margin-top: 1rem;
}

#concept-creator-publish-btn {
    width: 60%;
    margin-left: 20%;
    margin-top: 2rem;
}

.end-of-page {
    margin-bottom: 5rem;
}

.concept-student-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.remove-item {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/* COURSE CREATOR PAGE */

.creator-text-input {
    padding-top: 1rem;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

#creator-concept-name h4 {
    font-size: 1.7rem;
}
    