.concept-creator-section {
    border: 2px solid black;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.concept-creator-add-section {
    margin-top: 2rem;
}

.concept-creator-add-section button {
    width: 100%;
}

#concept-creator-preview-section {
    margin-top: 2rem;
    margin-bottom: 5rem;
}
    