.chapters-and-concepts-heading {
    text-align: center;
}

svg {
    overflow: scroll;
}

.chapter-container h3 {
    text-align: center;
    padding: 0.4em;
    font-size: 1.6em;
}

.concept-box-even {
    background-color: #B71C1C;
    color: white;
}

.concept-box-odd {
    background-color: #4A148C;
    color: white;
}

.concept-text {
    font-weight: 500;
    color: white;
    font-size: 1.5em;
}

.concept-name-svg {
    padding: 0.3em;
}

.concept-box {
    border-radius: 0.6rem;
}

.concept-box h5 {
    text-align: center;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    background: url('/retina_dust.png');
}