body {
    background: url("/dist/retina_dust.png");
}

#top-progress-bar {
    visibility: hidden;
    margin: 0;
}

.card-padding {
    padding: 1rem;
}

textarea {
    outline: none;
}

.input-field label {
    font-size: 1.1rem; 
    color: rgb(33, 150, 243);
}