body {
    background: url("/dist/retina_dust.png");
}

#top-progress-bar {
    visibility: hidden;
    margin: 0;
}

#left {
    float: left;
    width: 25%;
}

#search-bar {
    float: left;
    width: 50%;
    padding-right: 5%;
}

#top-navbar {
    position: relative;
}

.card-padding {
    padding: 1rem;
}

textarea {
    outline: none;
}