.testcase-creator-io {
    height: 150px;
}

#code-editor {
    height: 500px;
    width: 80%;
    font-size: 1rem;
}

#code-quiz-submit-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.quiz-feedback {
    line-height: 56px;
    height: 56px;
    font-size: 3rem;
}