@import 'base/scss/base-variables';


#search-hits {
    position: fixed;
    top: $top-bar-height + 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    z-index: 10;
    max-height: 100vh;
    overflow-y: scroll;
    width: 90%;
    left: 5%;
}

#search-overlay {
    position: fixed;
    top: $top-bar-height + 1rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: block;
    z-index: 9;
    background-color: rgba(255,255,255,0.97);
}

@media(max-width: 992px) {
    #search-hits, #search-overlay {
        // Each item in top-bar occupies full row.
        // And there are 3 items. 
        top: $top-bar-height*3 + 1rem;  
    }
}

.search-index-name {
    color: $brand-color;
    font-weight: bold;
    padding-right: 1rem;
}

