.testcase-creator-io {
    height: 150px;
}

.code-editor {
    height: 200px;
    width: 100%;
    font-size: 1rem;
}

.code-quiz-container {
    padding: 1rem;
}

.code-quiz-creator-filter-heading {
    margin-top: 2rem;
}

.code-quiz-submit-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.quiz-feedback {
    line-height: 56px;
    height: 56px;
    font-size: 3rem;
}

$ace-bg-color: #F0F8FF;

.ace_gutter {
    background: $ace-bg-color !important;
}
