body {
    background: url("/retina_dust.png")
}

textarea {
    resize: none
}

#page-container {
    margin-left: 3%;
    margin-top: 1%;
    margin-right: 3%;
}

.quiz-page-split-column {
    border-top: 3px dashed aliceblue;
    border-bottom: 3px dashed aliceblue;
    padding-bottom: 0.75rem !important;
}

.quiz-creator-container {
    border-left: 3px dashed aliceblue;
    border-right: 3px dashed aliceblue;
}

.quiz-student-container {
    border-right: 3px dashed aliceblue;
}

.quiz-creator-question-input {
    height: 200px;
    overflow: scroll;
}

.quiz-student-section {
    padding: 1.15rem;
}


.save-status {
    position: absolute;
    right: 5%;
    top: 1%;
}


.quiz-question-preview {
    font-size: 1.2rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.md-preview-with-content {
    margin-top: -0.5em; 
}

.quiz-student-short-answer-input {
    margin-top: 15px !important;
    font-size: 1.3em !important;
}

.quiz-creator-input-heading, .quiz-creator-preview-heading, .problem-solving-top-header {
    text-align: center;
}

.quiz-creator-mcq-toggle-button {
    background-color: inherit !important;
    color: #121212 !important;
}

/*input[type=range] {
    -webkit-appearance: none;
    height:20px;
    background: #8e21f1;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}*/

.active {
    font-size: 20px;
}

.quiz-creator-choice-collection {
    margin-top: 50px;
}

.quiz-creator-choice-input {
    height: 50px;
}

.quiz-creator-add-choice {
    margin-bottom: 15px;
}
.quiz-creator-remove-choice {
    font-size: 2em;
    cursor: pointer;
}


.quiz-result-feedback {
    margin-left: 10px;
    
}


.quiz-student-choice {
    font-size: 1.15em;
    cursor: pointer;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.quiz-student-choice-selected {
    background-color: #C62828;
    color: white;
}

.quiz-student-choice-not-selected {
    background-color: #FBFBFB; /* You love Facebook, huh? */
}

.quiz-student-guess-ago {
    margin-left: 10px;
}

.quiz-filter-items {
    height: 30em;
    overflow: scroll;
}

#quiz-filter-modal, #quiz-creator-modal {
    width: 92%;
    max-height: 92%;
}

.quiz-snippet {
    margin-bottom: 1rem !important;
}

.student-quiz-number {
    float: left;
    width: 4%;
    font-size: 1.2em;
}

.student-quiz-body {
    float: right;
    width: 96%;
}

.student-quiz-end-line { 
    margin-top: 2rem;
}

/* Problem solving page css 

Eventually, I'll make new css files for each component/page
#todo for entire CSS -> make it DRY, use SASS
*/ 

.problem-solving-question-and-solve-it-container {
     
}

#problem-solving-steps-list {
    font-size: 1.3em;
}

#problem-solving-guess-collection {
    overflow: scroll;
    height: 50%;
}

/*todo -> choose some material design color */ 
#problem-solving-guess-collection-heading {
    background-color: aqua;
}

.problem-solving-create-plan-btn {
    margin-top: 20px;
    background-color: inherit !important;
    color: #121212 !important;
}


.problem-solving-input-and-submit {
    margin-bottom: 20px;
}

.problem-solving-plan-heading {
    font-size: 1.5em;
    font-style: bolder; 
    margin-right: 20px;
}

.md-and-html-heading {
    text-align: center;
}

.md-and-html-input {
    height: 200px;
    background: white;
    overflow: scroll;
}

.md-preview-with-content {
    height: 208px;
    overflow-y: scroll;
    padding: 0 0.5em 0.5em 0.5em;
}

.problem-solving-plan-collection {
    margin-top: 25px;
}

.problem-solving-single-plan-container {
    margin-top: 20px;
}

.quiz-filter-question {
    cursor: pointer;
}

/* todo make the color DRY. Use Sass */
.quiz-filter-question:hover {
    background-color: #ddd;
}

.quiz-filter-input-field {
    width: 97%;
    margin-left: 1.5%; 
    margin-right: 1.5%;
}

.created-at {
    font-size: 0.75em;
    color: #337ab7;
}

/* MATRIX VIZ PAGE */

#svg-container {
    margin-top: 15px;
}


.matrix-shape-input {
    border: 3px solid black;
    cursor: pointer;
}

.matrix-shape-input:hover {
    border: 3px solid orange;
}

.matrix-shape-input-selected {
    background: linear-gradient(#00d2ff, #3a7bd5);
}

.matrix-shape-input-circle {
    float: left;
    border-radius: 50%;
}

.matrix-shape-input-rect {
    float: right;
}


#matrix-input-table input {
    width: 50%;
}

#matrix-input-table tbody {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#matrix-input-table input:hover {
    color: orange;
}

#matrix-input-table input {
    font-size: 2em;
}

.matrix-input-table-border-div {
    position: absolute;
    width: 20%;
    border-top: 1px solid black;
}

.matrix-speed-label {
    width: 100%;
}


.matrix-speed-label:hover {
    color: orange;
}

.matrix-input-shape {
    cursor: pointer;
}
.matrix-input-shape:hover {
    stroke: orange;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

@media(max-width: 992px) {
    [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
        height: 40px;
        line-height: 40px;
        font-size: 2rem;
        padding-left: 50px;
    }

    [type="radio"] + label:before, [type="radio"] + label:after {
        height: 30px;
        width: 30px;
    }

    #matrix-visualize-btn {
        height: 60px;
    }
}